services:
  mongo:
    image: mongo:8.0
    container_name: wishlist-mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
      MONGO_INITDB_DATABASE: wishlistdb
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: